params.slurm_account = 'pawsey0149'

process {
	executor = 'slurm'
	beforeScript = 'module load singularity/4.1.0-nompi'
	queue = 'work'
	clusterOptions = "--account=${params.slurm_account}"

	
	withName: VariantRecalibrator {
		memory = '32 GB'
		cpus = 4
		time = '2h'
	}
	
	withName: ApplyVQSR {
		memory = '16 GB'
		cpus = 2
		time = '2h'
	}
}

singularity.enabled = true