params.slurm_account = 'XXXX'

process {
    executor = 'slurm'
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    clusterOptions = "--account=${params.slurm_account}"
	maxForks = 100

    withName: fastp {
		errorStrategy = 'retry'
		maxRetries = 3
        memory = '6 GB'
        cpus = 8
        time = '30m'
		maxForks = 30
    }

    withName: mapping {
        memory = '32 GB'
        cpus = 32
        time = '4h'
		maxForks = 50
    }

    withName: mark_duplicates {
        memory = '64 GB'
        cpus = 4
        time = '2h'
		maxForks = 50
    }

    withName: bqsr {
        memory = '4 GB'
        cpus = 4
        time = '4h'
		maxForks = 50
    }
	
	withName: haplotype_caller {
		errorStrategy = 'retry'
		maxRetries = 3
		memory = '4 GB'
		cpus = 4
		time = '45m'
		maxForks = 100
	}
	
	withName: genomicsdb_import {
		memory = '4 GB'
		cpus = 2
		time = '4h'
		maxForks = 50
	}
	
	withName: genotype_gvcfs {
		memory = '16 GB'
		cpus = 2
		time = '2h'
		maxForks = 2
	}
	
	withName: concat_vcfs {
		memory = '4 GB'
		cpus = 2
		time = '2h'
		maxForks = 2
	}

}

singularity.enabled = true

